{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublie{% endblock %}

{% block body %}
    <div class="login-wrapper">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <div id="connexionForm" class="formConnexion">
            {{ form_start(requestForm) }}
            <img src="{{ asset("img/avatar.png") }}" alt="">
            <h2>Réinitialiser votre mot de passe</h2>

            <div class="input-group">
                {{ form_row(requestForm.mail) }}
            </div>
            <div class="input-group group-checkbox">
                <small>
                    Entrez votre adresse e-mail et nous vous enverrons un
                    lien pour réinitialiser votre mot de passe.
                </small>
            </div>

            <button class="submit-btn">M'envoyer l'email</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}