{% extends 'base.html.twig' %}

{% block title %}Gestion Villes | Sortie.com{% endblock %}

{% block body %}
<div class="bodyAdmin">
    <div class="gestionCampus">
        <h1>Gérer les villes</h1>
        <div class="form_search_campus">
            {{ form_start(formSearchVille) }}
            {{ form_row(formSearchVille.searchVilles) }}
            <button type="submit" class="btn btn-primary">Rechercher</button>
            {{ form_end(formSearchVille) }}
        </div>
    </div>

    <div class="diviseur"></div>

    <div class="tableContainer">
        <div class="scrollBar">
            <table class="ResultCampus">
                <thead id="tableHeader">
                <tr>
                    <th>Ville</th>
                    <th>Code Postal</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for ville in villesResultSearch %}
                    <tr>
                        <td>{{ville.nom}}</td>
                        <td>{{ville.codePostal}}</td>
                        <td>
                            <a href="{{ path('admin.ville.edit', {id: ville.id }) }}" class="btn btn-primary">Modifier</a>
                            <a href="{{ path('admin.ville.edit', {id: ville.id }) }}" class="btn btn-primary">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        {{ form_start(formAddVille) }}
                        {{ form_row(formAddVille.nom) }}

                    </td>
                    <td>
                        {{ form_row(formAddVille.codePostal) }}
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                        {{ form_end(formAddVille) }}
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

