{% extends 'base.html.twig' %}

{% block title %}Gestion Campus | Sortie.com{% endblock %}

{% block body %}

    <div class="gestionCampus">
        <h1>Gérer les campus</h1>

        {{ form_start(form) }}
        {{ form_row(form.searchCampus) }}
        <button type="submit" class="btn btn-primary ">Rechercher</button>
        {{ form_end(form) }}

        <div>

            <table class="ResultCampus">
                <thead>
                <tr>
                    <th>Campus</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for campus in campusSearch %}
                <tr>
                    <td>{{campus.nom}}</td>
                    <td>
                        <a href="{{ path('admin.campus.edit', {id: campus.id }) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('admin.campus.edit', {id: campus.id }) }}" class="btn btn-primary">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        {{ form_start(formCampus) }}
                        {{ form_row(formCampus.nom) }}
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                        {{ form_end(formCampus) }}
                    </td>
                </tr>

                </tbody>

            </table>


{#            <table class="ResultCampus">#}
{#                <tr id="tableHeader">#}
{#                    <th>Campus</th>#}
{#                    <th>Actions</th>#}
{#                </tr>#}
{#                {% for campus in campusSearch %}#}
{#                    <tr>#}
{#                        <td>#}
{#                            <input type="text" id="" name="" value="{{ campus.nom}}">#}
{#                        </td>#}
{#                        <td>#}
{#                            <button type="submit" class="btn btn-primary">Modifier</button>#}
{#                            <button type="submit" class="btn btn-primary">Supprimer</button>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                <tr id="addCampus">#}
{#                    <th>#}
{#                        {{ form_start(formCampus) }}#}
{#                        {{ form_row(formCampus.nom) }}#}
{#                    </th>#}
{#                    <th>#}
{#                        <button type="submit" class="btn btn-primary">Ajouter</button>#}
{#                        {{ form_end(formCampus) }}#}
{#                    </th>#}
{#                </tr>#}

{#            </table>#}

{#        </div>#}



{#        {{ dump(campusSearch) }}#}


    </div>


{% endblock %}

