<div class="card">
    {# Insérer image de la sortie, dans sortie.getl'imagemachin #}
    <img src=" {{ sortie.urlPhoto }}" alt="image de la sortie" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ sortie.noSortie }}</h5>
            <div class="card-title text-primary" id="card-list">
                {{ sortie.nom }}
            </div>
        <p class="text text-muted">{{ sortie.descriptioninfos }}</p>
        <div >

            {{ sortie.campus }}

        </div>
    </div>
</div>