<div class="card border-light mb-3">

    <div class="card ">

        <div class="card-title text-primary" id="card-list">
            {{ sortie.nom }}
        </div>
        <img src=" {{ sortie.urlPhoto }}" alt="image de la sortie" class="card-img-top" width="100%" height="200">
        <p class="card card-text">
            Inscription à partir du : {{ sortie.dateHeureDebut|date('d/m/Y') }} <br>
            Inscription jusqu'au : {{ sortie.dateLimiteInscription|date('d/m/Y') }}</p>
        <div>  {{ sortie.descriptionInfos }}</div>
        <div class ="card-footer text-muted">

            {{ sortie.campus }}<br>
            {{ sortie.etatsortie }}<br>
            {{ sortie.organisateur }}
            <a href="{{ path('detail_sortie',{'id': sortie.id}) }}">Voir détails</a>
        </div>

    </div>
</div>