{{ form_start(form,{attr:{class:'filter'}}) }}

{{ form_row(form.motclef) }}

<h4>   Campus</h4>
<div class="row col-md-12 campus">
    {{ form_row(form.campus) }}
</div>
<h4>   Date de début de la sortie</h4>
{{form_row(form.datedebut) }}

<h4>Date de limite d'inscription</h4>
{{ form_row(form.datefin) }}
<button type="submit" class="btn btn-info w-100">Rechercher</button>
<a href="{{ path('sortie_creation') }}" class="btn btn-info w-100">Créer une sortie</a>
{{ form_end(form) }}
