{% extends 'base.html.twig' %}

{% block title %}Creation sortie | Sortie.com{% endblock %}

{% block body %}
    <div class="substitu-body">
        <div class="sortieForm-wrapper">

            <div class="formSortieCreation">

                <h1>Créer une sortie</h1>

                {{ form_start(sortieForm) }}

                <div class="sortie-detail">

                    <div class="form-group">
                        {{ form_label(sortieForm.nom) }}
                        {{ form_widget(sortieForm.nom) }}
                        {{ form_errors(sortieForm.nom) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(sortieForm.duree) }}
                        {{ form_widget(sortieForm.duree) }}
                        <span>Minutes</span>
                        {{ form_errors(sortieForm.duree) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(sortieForm.dateHeureDebut) }}
                        {{ form_widget(sortieForm.dateHeureDebut) }}
                        {{ form_errors(sortieForm.dateHeureDebut) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(sortieForm.nbInscriptionMax) }}
                        {{ form_widget(sortieForm.nbInscriptionMax) }}
                        {{ form_errors(sortieForm.nbInscriptionMax) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(sortieForm.dateLimiteInscription) }}
                        {{ form_widget(sortieForm.dateLimiteInscription) }}
                        {{ form_errors(sortieForm.dateLimiteInscription) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(sortieForm.descriptionInfos) }}
                        {{ form_widget(sortieForm.descriptionInfos) }}
                        {{ form_errors(sortieForm.descriptionInfos) }}
                    </div>
                </div>

                <div class=" sortie-detail">

                    <div class="form-group">
                        {{ form_label(sortieForm.campus) }}
                        {{ form_widget(sortieForm.campus) }}
                        {{ form_errors(sortieForm.campus) }}
                    </div>

                    <div class="form-group">
                        <label for="{{ sortieForm.children.lieu.nom.vars.id }}">Lieu :</label>
                        <input type="text" id="{{ sortieForm.children.lieu.nom.vars.id }}" name="{{ sortieForm.children.lieu.nom.vars.full_name }}">
                        {% do sortieForm.children.lieu.setRendered %}
                    </div>

                    <div class="form-group">
                        <label for="{{ sortieForm.children.lieu.children.ville.children.nom.vars.id }}">Ville :</label>
                        <input type="text" id="{{ sortieForm.children.lieu.children.ville.children.nom.vars.id }}" name="{{ sortieForm.children.lieu.children.ville.children.nom.vars.full_name }}">

                    </div>

                    <div class="form-group">
                        <label for="{{ sortieForm.children.lieu.children.ville.children.codePostal.vars.id }}">Code postal :</label>
                        <input type="text" id="{{ sortieForm.children.lieu.children.ville.children.codePostal.vars.id }}" name="{{ sortieForm.children.lieu.children.ville.children.codePostal.vars.full_name }}">
                    </div>

                    <div class="form-group">
                        <label for="{{ sortieForm.children.lieu.rue.vars.id }}">Rue :</label>
                        <input type="text" id="{{ sortieForm.children.lieu.rue.vars.id }}" name="{{ sortieForm.children.lieu.rue.vars.full_name }}">
                    </div>

                    <div class="form-group">
                        <label for="{{ sortieForm.children.lieu.latitude.vars.id }}">Latitude :</label>
                        <input type="text" id="{{ sortieForm.children.lieu.latitude.vars.id }}" name="{{ sortieForm.children.lieu.latitude.vars.full_name }}">
                    </div>

                    <div class="form-group">
                        <label for="{{ sortieForm.children.lieu.longitute.vars.id }}">Longitude :</label>
                        <input type="text" id="{{ sortieForm.children.lieu.longitute.vars.id }}" name="{{ sortieForm.children.lieu.longitute.vars.full_name }}">
                    </div>

                </div>

                <button type="submit" class="button">Enregistrer</button>

                {{ form_end(sortieForm) }}

            </div>

        </div>
    </div>

{% endblock %}

