{% extends 'base.html.twig' %}

{% block title %}Creation sortie | Sortie.com{% endblock %}

{% block body %}
     <h3>{{ sortie.nom }}</h3>
     <h3>{{ sortie.dateHeureDebut|date('d/m/Y') }}</h3>
     <h3>{{ sortie.duree }}</h3>
     <h3>{{ sortie.dateLimiteInscription|date('j M Y h:i') }}</h3>
     <h3>{{ sortie.nbInscriptionMax }}</h3>
     <h3>{{ sortie.descriptionInfos }}</h3>
     <h3>{{ sortie.organisateur }}</h3>
     <h3>{{ sortie.etatsortie }}</h3>
     <h3>{{ sortie.lieu }}</h3>
     <h3>{{ sortie.campus }}</h3>

     <button>S'inscrire</button>
{% endblock %}


