{% extends 'base.html.twig' %}

{% block title %}Détails de la sortie | Sortie.com{% endblock %}

{% block body %}
{#  <div class="container">#}
{#     <div class="row">#}
{#          <div class="titreSortie col-xs-12">{{ sortie.nom }}</div>#}
{#     </div>#}
{#          <div class="row">#}
{#               <div class="dateSortie col-md-4 labelSortie">Date du départ : {{ sortie.dateHeureDebut|date('j M Y h:i') }}</div>#}
{#          </div>#}
{#     <div class="row">#}
{#          <div class="dureeSortie col-md-4">Durée : {{ sortie.duree }}  minutes</div>#}
{#          <div class="nbPlacesSortie col-md-4">Nombre de places disponibles : {{ sortie.nbInscriptionMax }}</div>#}
{#     </div>#}
{#     <div class="row">#}
{#          <div class="lieuSortie col-md-4">Lieu : {{ sortie.lieu.nom }}</div>#}
{#          <div class="organisateurSortie col-md-4">Organisateur : {{ sortie.organisateur }}</div>#}
{#     </div>#}
{#     <div class="row">#}
{#     <div class="campusSortie col-md-4">Campus : {{ sortie.campus }}</div>#}
{#     <div class="etatSortie col-md-4">L'état de la sortie est : {{ sortie.etatsortie.libelle }}</div>#}
{#     </div>#}
{#          <div class="row">#}
{#               <div class="descriptionSortie col-xs-12">{{ sortie.descriptionInfos }}</div>#}
{#          </div>#}
{#               <label class="">Liste des participants</label>#}
{#    #}
{#     {% if (btnDesinscrire == true) %}#}
{#          <a href="{{ path('inscrire',{'id': sortie.id}) }}"><button>Se désinscrire</button></a>#}
{#     {% else %}#}
{#          <a href="{{ path('inscrire',{'id': sortie.id}) }}"><button>S'inscrire</button></a>#}
{#     {% endif %}#}

<div class="card container">
     <div class="row">
          <div class="col-md-1">
              <img src=" {{ sortie.urlPhoto }}" alt="image de la sortie">
          </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-6">
     <h1>Titre : {{ sortie.nom }}</h1>
      Date de début des inscriptions :{{ sortie.dateHeureDebut|date('j M Y') }}<br>

      Date de fin des inscriptions : {{ sortie.dateLimiteInscription|date('j M Y ') }}<br>

      Temps estimé de la sortie :{{ sortie.duree }}<br>

      Nombre de places  : {{ sortie.nbInscriptionMax }}<br>

      Description :{{ sortie.descriptionInfos }}<br>

      Organisateur de la sortie : <a href ="{{ path('afficher_profil', {'id': sortie.user}) }}"> {{ sortie.user.getNom() }}</a><br>

      Lieu de la sortie :   {%  if(sortie.lieu == NULL) %}
                               <a class="table-warning"  >Pas de Lieu de sortie</a>
                            {% else %}
                                 {{ sortie.lieu }}
                            {% endif %}<br>

      Status de la sortie : {%  if(sortie.etatsortie == "Annulé") %}
                                    <a class="table-warning">{{ sortie.etatsortie }}</a>
                            {% else %}
                                    <a class="table-success"> {{ sortie.etatsortie }}</a>
                            {% endif %}
              <br>
              {{ sortie.campus }} <br><br>

              {% if (btnDesinscrire == true) %}
                  <a href="{{ path('inscrire',{'id': sortie.id}) }}"><button>Se désinscrire</button></a>
              {% else %}
                  <a href="{{ path('inscrire',{'id': sortie.id}) }}"><button>S'inscrire</button></a>
              {% endif %}
          </div>
               <table class="table table-primary table-sm">

                    <thead>
                    <tr>
                         <th >Username</th>
                         <th >Prénom</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Ajouter page afficher profil -->
                    {% for inscription in inscriptions %}
                         <tr>
                              <td><a href="{{ path('gestion_profil', { 'id':inscription.user.id }) }}">{{ inscription.user.username }}</a></td>
                              <td>{{ inscription.user.prenom }}
                              </td>

                         </tr>
                    {% else %}
                         <div class="blabla">
                              <p> Aucun participant pour le moment  </p>
                         </div>
                    {% endfor %}
                    </tbody>
               </table>
          {% if (btnDesinscrire == true) %}
               <a href="{{ path('inscrire',{'id': sortie.id}) }}"><button>Se désinscrire</button></a>
          {% else %}
               <a href="{{ path('inscrire',{'id': sortie.id}) }}"><button>S'inscrire</button></a>
          {% endif %}
     </div>
{% endblock %}