<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Crete+Round&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset("css/app.css") }}">

</head>
<body>

<header>


        {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <nav class="navbar navbar-expand-lg navbar-expand-xl navbar-expand-md navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('sorties_list') }}"> Sortir.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="{{ path('logout') }}"> Se déconnecter
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('gestion_profil', {'noParticipant': app.user.id }) }}"> Mon profil
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('sorties_list') }}"> Accueil
                    </a>
                </li class="nav-item">
                <li>
                    <a href=""> Campus
                    </a>
                </li class="nav-item">
                <li>
                    <a href=""> Villes
                    </a>
                </li>
            </ul>
            </div>
        </nav>
        {% endif %}

</header>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<main>
    {% block body %}{% endblock %}
</main>

<footer></footer>



</body>
</html>
